main {
    opacity:0.9;
    width:100%;
   
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

    
}

.logo {
    max-height: 50px;

    width: auto;
    margin-left: 10px;
}
header {
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

}
li  {
    display: inline-flex;
    padding-left: 1rem;
    padding-right: 10px;
}

li a {
    color: seashell;

}

.mission {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    width: 1200px;
    height: 700px;
    max-width: 100%;
    background-size: auto;
    background-position: center;
    margin: 69px auto 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.our-mission {
    background-color: black;
    width: 1200px;
    text-align: center;
    


    
}

.tea-container {
    height: auto;
    max-width: 1000px;
    margin: 69px auto;
    text-align: center;
    

}

.teas-header {
    text-align: center;
}


.teas-pics {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
    
    

}


img {
    height: 200px;
    width: 300px;
    margin: 10px;

}

.location-container {
    
    height: 500px;
    width: 1200px;
    max-width: 100%;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1re4peo*_ga*ODE4MTg3NjY0NC4xNjcyNDMyMDQz*_ga_3LRZM6TM9L*MTY3Mjk2NTg4Mi4xNi4xLjE2NzI5NjU5NTAuNTIuMC4w");
    background-size: auto;
    background-position: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
}

.location-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    max-width: 100%;
    
    
}

.location-address {
    background-color: black;
    opacity: 1;
    margin: auto 20px;
    width: 300px;
    max-width: 100%;
}

.contact {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    margin-left: 20px;
    text-align: left;
}
